# OSX
.Trashes
.Spotlight-V100
.DS_Store
._*

# NODEJS
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE
.idea
.vscode

# OTHER
dist
tmp

# EMBER
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
